
h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 10px;
}
tr {
  margin: 20,20,20,20;
  text-align: center;
}

.roster {
  background-image: url("avengers.jpg");
  background-repeat: repeat;
}

label {
    font-size: 36px;
    font-weight: bold;
    color: 'black';
}